.maincontainer{
  text-align: left;
}
.main-box{
  margin: auto;
  width: fit-content;
  border-radius: 15px;
  overflow: hidden;
}
.box-container{
  width: fit-content;
  margin: auto;
  background-color: black;
}
.display{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
  color: white;
  text-align: right;
  min-height: 115px;
  padding: 0 3px;
  padding-top: 30px;
}
.fBig{
  font-size: 55px;
  line-height: 1;
}
.fSmall{
  font-size: 33px;
  padding-bottom: 5px;
}
.display span {
  align-self: flex-end;
  justify-content: right;
  line-height: 1;
}
.row-custom{
  display: flex;
  justify-content: center;
}
.btn-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: #7a7a7a80;
  color: white;
  border: 0px solid;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}
.btn-custom:hover{
  opacity: 0.8;
}
.btn-lg{
  width: 50%;
  border-radius: 40px;;
}
.light-orange{
  background-color: orange;
}
.light-orange:focus{
  background-color: rgba(255, 166, 0, 0.57);
}
.light-gray{
  background-color: gray !important;

}